<mat-card class="example-card" (click)="clicked()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{projectKey}} - {{issue.name}}</mat-card-title>
    <mat-card-subtitle>{{issue.asignee}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{issue.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <span class="material-icons">web</span>
    <span class="material-icons">low_priority</span>
    <button mat-button class="time">{{issue.storyPoints}}</button>
  </mat-card-actions>
</mat-card>