  .example-card {
    border: 1px solid;
    border-color: black;
    word-wrap: break-word;
  }
    
.time {
    float: right;
}
.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.highest {
  color: rgb(255, 4, 4)
}

.high {
  color: rgb(230, 86, 19)
}

.medium {
  color: rgb(216, 219, 3)
}

.low {
  color: rgb(117, 255, 4)
}

.lowest {
  color: rgb(4, 255, 192)
}