<div class="issue">
  <div class="left-info">
    <i class="far fa-bookmark icon"></i>
    <span class="name">{{issue.name}}</span>
  </div>
  <div class="right-info">
    <span class="pl bold"> 
      <mat-icon *ngIf="issue.priority == 1" class="lowest">arrow_downward</mat-icon>
      <mat-icon *ngIf="issue.priority == 2" class="low">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="issue.priority == 3" class="medium">minimize</mat-icon>
      <mat-icon *ngIf="issue.priority == 4" class="high">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="issue.priority == 5" class="highest">arrow_upward</mat-icon>
    </span>
    <span class="time">{{issue.storyPoints}}</span>
    <img class="user-image" [src]="getUserImage()">
  </div>
</div>
