.issue {
  background-color: white;
  padding: 2px;
  box-shadow: 3px 3px 4px 1px #818385;
  margin-top: 4px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
}

.issue:hover {
  cursor: pointer;
  opacity: 0.85;
}

.icon {
  margin-left: 10px;
  color: #7ac28d;
}

.name {
  font-size: 17px;
  margin-left: 10px;
}

.header {
  color: #2e6194;
  font-size: 17px;
  margin-left: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.time {
  display: flex;
  justify-content: center;
  background-color: #e6e1e6;
  width: 20px;
  height: 20px;
  font-size: 16px;
  padding: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: #414142;
}

.user-image {
  position: flex;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  object-fit: cover;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.right-info {
  display: flex;
}
