<div class="issue">
  <i class="fas fa-times exit-icon" (click)="closeIssue()"></i>
  <div class="header">{{projectKey}}-{{issue.id}}<span class="pl bold"> 
    <mat-icon *ngIf="issue.priority == 1" class="lowest">arrow_downward</mat-icon>
    <mat-icon *ngIf="issue.priority == 2" class="low">keyboard_arrow_down</mat-icon>
    <mat-icon *ngIf="issue.priority == 3" class="medium">remove</mat-icon>
    <mat-icon *ngIf="issue.priority == 4" class="high">keyboard_arrow_up</mat-icon>
    <mat-icon *ngIf="issue.priority == 5" class="highest">arrow_upward</mat-icon>
  </span></div>
  <span class="time-info">
    <span class="status" *ngIf="!editStat">{{issuesStatus}}</span>
    <mat-icon *ngIf="!editStat" (click)="editStat = !editStat">edit</mat-icon>

    <select class="select-field" *ngIf="editStat" (change)="changeNewStatus($event)" formControlName="priority">
      <option>to-do</option>
      <option>in-progress</option>
      <option>verify</option>
      <option>done</option>
    </select>
    <mat-icon *ngIf="editStat" (click)="editStatus(descTA.value)">check</mat-icon>

    <span class="time">{{issue.storyPoints}}</span>
  </span>
  <span class="name">{{issue.name}}</span>
  <span class="assignee">{{issue.assignee.name}}</span>
  <div class="pt">
    <app-button class="epikLink" [header]="(epic | async)?.name"></app-button>
  </div>

  <div class="description pt">
    <textarea class="textarea-field" [disabled]="!editDesc" #descTA>{{issue.description}}</textarea> 
    <mat-icon *ngIf="!editDesc" (click)="editDesc = !editDesc">edit</mat-icon> 
    <mat-icon  *ngIf="editDesc" (click)="editDescription(descTA.value)">check</mat-icon>
    <mat-icon  *ngIf="editDesc" class="cancel" (click)="editDesc = !editDesc">clear</mat-icon>
  </div>

  <span class="block">Blocked by: <div class="block-name" *ngFor="let blocker of issue.blockers">{{blocker.name}}</div></span>
  <span class="block">Blocking: <div class="block-name" *ngFor="let blocked of issue.blocked">{{blocked.name}}</div></span>
  <div class="comment-header">
    <i class="fas fa-plus comment-icon add-comment" (click)="addComment()"></i>
    <i class="fas fa-comment-alt comment-icon"></i>
  </div>
  <div class="scroll">
    <app-comment class="comment" *ngIf="addNewComment" [newComment]="true" [comment]="addComment()"
      (closeNewCommentEmitter)="cancleNewComment($event)"></app-comment>
    <app-comment class="comment" *ngFor="let comment of comments?.reverse() | filterByIssueId: issue.id"
      [comment]="comment">
    </app-comment>
  </div>
</div>
