<div class="issue">
  <i class="fas fa-times exit-icon" (click)="closeIssue()"></i>
  <div class="header">PRJ-{{issue.id}}<i class="far fa-bookmark prj-icon"></i></div>
  <span class="time-info">
    <span class="status">{{issuesStatus}}</span>
    <span class="time">{{issue.storyPoints}}</span>
  </span>
  <span class="name">{{issue.name}}</span>
  <div class="pt">
    <span>Epic:</span>
    <app-button class="epikLink" [header]="(epic | async)?.name"></app-button>
  </div>
  <div class="pt">
    <span>Description:</span>
    <span class="pl bold">{{issue.description}}</span>
  </div>
  <span class="block">Blocked by:</span>
  <span class="block">Blocking:</span>
  <div class="comment-header">
    <i class="fas fa-plus comment-icon add-comment" (click)="addComment()"></i>
    <i class="fas fa-comment-alt comment-icon"></i>
  </div>
  <app-comment class="comment" *ngIf="addNewComment" [newComment]="true" [comment]="addComment()"
    (closeNewCommentEmitter)="cancleNewComment()"></app-comment>
  <app-comment class="comment" *ngFor="let comment of comments?.reverse() | filterByIssueId: issue.id"
    [comment]="comment">
  </app-comment>
</div>
