.issue {
  display: flex;
  flex-direction: column;
}

.header {
  color: #2e6194;
  font-size: 17px;
  margin-left: 10px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
}

.prj-icon {
  margin-left: 10px;
  color: #7ac28d;
}

.exit-icon {
  color: #8e959c;
}

.exit-icon:hover {
  color: #c4c1c1;
  cursor: pointer;
}

.status {
  color: #466e96;
  font-size: 17px;
  margin-left: 10px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.time {
  display: flex;
  justify-content: center;
  background-color: #cac3ca;
  width: 20px;
  height: 20px;
  font-size: 17px;
  padding: 2px;
  border-radius: 2px;
  font-weight: bold;
  color: #414142;
}

.time-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  margin-left: 10px;
}

.epikLink {
  margin-top: 10px;
  margin-left: 10px;
}

.block {
  color: #466e96;
  margin-top: 10px;
  font-size: 17px;
  margin-left: 10px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-icon {
  color: rgb(242, 102, 116);
  text-shadow: 2px 2px 3px rgb(124, 108, 108);
}

.add-comment:hover {
  color: rgb(247, 154, 163);
  cursor: pointer;
}

.comment {
  margin: 3px;
}

.pt {
  padding-top: 10px;
}

.pl {
  padding-left: 10px;
}

.bold {
  font-weight: bold;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 250px;
  -webkit-overflow-scrolling: touch;
}
.scroll::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.scroll::-webkit-scrollbar-track {
  background: rgb(242, 102, 116);
  border-radius: 8px; /* color of the tracking area */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(238, 207, 208); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(247, 119, 131); /* creates padding around scroll thumb */
}
