<div class="backlog-board">
  <div>Backlog</div>
  <div class="missions">
    <app-issues-backlog cdkDropList id="CurrSprint" [cdkDropListConnectedTo]="['PlannedStrint', 'Backlog']"
      [header]="'Current sprint'" (cdkDropListDropped)="drop($event)" [showPlanSprintBtn]="true"
      [issues]="getStatusIssues(issuesLocation.CurrentSprint)">
    </app-issues-backlog>
    <app-issues-backlog cdkDropList id="PlannedStrint" [cdkDropListConnectedTo]="['CurrSprint', 'PlannedStrint']"
      [header]="'Planned sprint'" (cdkDropListDropped)="drop($event)"
      [issues]="getStatusIssues(issuesLocation.PlannedSprint)">
    </app-issues-backlog>
    <app-issues-backlog cdkDropList id="Backlog" [cdkDropListConnectedTo]="['CurrSprint', 'Backlog']"
      [header]="'Backlog'" (cdkDropListDropped)="drop($event)" [issues]="getStatusIssues(issuesLocation.Backlog)">
    </app-issues-backlog>
  </div>
</div>
