<div class="backlog">
  <div class="backlog-board">
    <div>Backlog</div>
    <div class="missions">
      <app-issues-backlog cdkDropList id="CurrSprint" [cdkDropListConnectedTo]="['PlannedStrint', 'Backlog']"
        [header]="'Current sprint'" (cdkDropListDropped)="drop($event)" [showPlanSprintBtn]="true"
        [issues]="getStatusIssues(issuesLocation.CurrentSprint)" (openIssueEmitter)="openIssue($event)">
      </app-issues-backlog>
      <app-issues-backlog cdkDropList id="PlannedStrint" [cdkDropListConnectedTo]="['CurrSprint', 'Backlog']"
        [header]="'Planned sprint'" (cdkDropListDropped)="drop($event)"
        [issues]="getStatusIssues(issuesLocation.PlannedSprint)" (openIssueEmitter)="openIssue($event)">
      </app-issues-backlog>
      <app-issues-backlog cdkDropList id="Backlog" [cdkDropListConnectedTo]="['CurrSprint', 'PlannedStrint']"
        [header]="'Backlog'" (cdkDropListDropped)="drop($event)" [issues]="getStatusIssues(issuesLocation.Backlog)"
        (openIssueEmitter)="openIssue($event)">
      </app-issues-backlog>
    </div>
  </div>
  <app-issue *ngIf="issueToOpen" class="issue-detail" [issue]="issueToOpen"
    (closeIssueEmitter)="issueToOpen = undefined"></app-issue>
</div>
