.backlog-board {
  display: flex;
  padding: 10px;
  width: 100%;
  font-size: 22px;
}

.missions {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 90%;
}

.backlog {
  display: flex;
  flex-direction: row;
}

.issue-detail {
  background-color: #e6e1e6;
  padding: 10px;
  width: 250px;
  height: 600px;
}
