.container {
    display:flex;
    flex-direction: column;
    box-shadow: -2px 2px 4px 1px rgb(204, 204, 204);
  }
  
.header {
    height: 52px;
    background-color: #f26674;
    color: white;
    text-align: center;
    width: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    }

#chart {
    align-self: center;
    margin: 35px auto;
    padding: 0;
  }
  