.container {
  height:100%;
    display:flex;
    box-shadow: -2px 2px 4px 1px rgb(204, 204, 204);
  }
  
.header {
    height: 10%;
    width: -webkit-fill-available;
    min-height: 52px;
    background-color: #f26674;
    color: white;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    }

.chart {
  height: 90%;
    padding: 0;
    width: 100%;
    display: flex;
  }

#chart {
  margin: auto;
}
  