<div class='container'>
    <div class='header'>Current Sprint Issues</div>
    <div class='chart'>
      <div id="chart">
        <apx-chart *ngIf="showChart; else elseBlock"
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive"
          [colors]="chartOptions.colors"
          [fill]="chartOptions.fill"
        ></apx-chart>
        <ng-template #elseBlock>There are no issues in the active sprint</ng-template>
      </div>
    </div>
</div>