
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
        <mat-nav-list class="dashboard">

            <a id="projects" md-list mat-list-item [routerLink]="['/projects', currentProject]">
                <mat-icon mat-list-icon >calendar_view_week</mat-icon>
                <p matLine *ngIf="isExpanded">sprint</p></a>

            <a id="backlog" mat-list-item [routerLink]="['/projects', currentProject, 'backlog']">
                <mat-icon mat-list-icon>line_weight</mat-icon>
                <p matLine *ngIf="isExpanded" >backlog</p></a>

            <a mat-list-item>
                <mat-icon mat-list-icon>trending_up</mat-icon>
                <p matLine *ngIf="isExpanded">trending</p></a>

            <a mat-list-item>
                <mat-icon mat-list-icon>drafts</mat-icon>
                <p matLine *ngIf="isExpanded">Drafts</p></a>

            <a md-list mat-list-item (click)="expand()">
                <mat-icon mat-list-icon>compare_arrows</mat-icon></a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>