
<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
        <mat-nav-list class="dashboard">

            <a id="projects" md-list mat-list-item [routerLink]="['/projects', currentProjectId]">
                <mat-icon mat-list-icon >calendar_view_week</mat-icon>
                <p matLine *ngIf="isExpanded">Sprint</p></a>

            <a id="backlog" mat-list-item [routerLink]="['/projects', currentProjectId, 'backlog']">
                <mat-icon mat-list-icon>line_weight</mat-icon>
                <p matLine *ngIf="isExpanded">Backlog</p></a>

            <a id="reports" mat-list-item [routerLink]="['/projects', currentProjectId, 'reports']">
                <mat-icon mat-list-icon>trending_up</mat-icon>
                <p matLine *ngIf="isExpanded">Reports</p></a>

            <a id="leadView" mat-list-item [routerLink]="['/projects', currentProjectId, 'lead']">
                <mat-icon mat-list-icon>manage_accounts</mat-icon>
                <p matLine *ngIf="isExpanded">Lead View</p></a>

            <a md-list mat-list-item (click)="expand()">
                <mat-icon mat-list-icon>compare_arrows</mat-icon></a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>