.card {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px 0;
    transition: 0.5s;
    border-radius: 5px;
    width: 20vh;
    height: 10vh;
    margin: 2vh;
    align-items: center;
}