@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  background: #eee;
}

.card {
  width: 20vh;
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px 0;
}

.card .front{
  font-weight: 300;
  width: 30vh;
  height: 15vh;
  color: white;
  text-align: center;
  text-transform: capitalize;
  
}

.card .front {
  background: rgb(242, 102, 116);
}