.home-container {
    width: 100%;
    height: 93%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: darkslategray;
    height: 10%;
}

.title {
    margin-right: 16px;
}

.content-container {
    display: flex;
    padding: 0px 24px 24px;
    width: 100%;
    height: 90%;
}

.graph {
    width: 80%;
    height: 100%;
    margin-right: 24px;
}

.issues {
    width: fit-content;
    min-width: 20%;
    height: 100%;
}
