.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: darkslategray
}

.title {
    margin-right: 16px;
}

.content-container {
    display: flex;
    margin: 12px 80px;
}

.graph {
    flex-grow: 4;
    margin-right: 32px;
}

