<h1 class="title">Active Sprint</h1>

<b>quick filters :</b> <button mat-button style="display:inline-block;" *ngFor="let filter of filters">{{ filter }}</button>

<div cdkDropListGroup class="main-container">
    <div class="tasks-container" *ngFor="let title of taskTitles">
      <h2>{{title}}</h2>
      <div
        cdkDropList
        [cdkDropListData]="this.tasksHolder[title]"
        class="tasks-list"
        (cdkDropListDropped)="drop($event)">
        <ng-container *ngIf="this.project.key">
          <div *ngFor="let item of this.tasksHolder[title]" cdkDrag>
            <app-main-issue id="{{item.id}}" 
                            desc="{{item.description}}" 
                            status="{{item.status}}" 
                            time="{{item.storyPoints}}" 
                            assignee="{{item.asignee}}"
                            projectKey="{{this.project.key}}"
                            name="{{item.name}}">
            </app-main-issue>
          </div>
      </ng-container>
    </div>
  </div>