<h1 class="title">Active Sprint</h1>

<b class='filters-title'>Quick Filters:</b> 
<mat-button-toggle-group [(value)] = "selectedFilter">
  <mat-button-toggle [value]='filter' mat-button style="display:inline-block;" *ngFor="let filter of filters" (change)="handleFilterChange(filter)">{{ filter }}</mat-button-toggle>
</mat-button-toggle-group>

<div cdkDropListGroup class="board" [ngClass]="{space : issueToOpen != undefined}">
    <div class="tasks-container" *ngFor="let title of taskTitles">
      <h2>{{title}}</h2>
      <div
        cdkDropList
        [cdkDropListData]="this.tasksHolder[title]"
        class="tasks-list"
        id={{title}}
        (cdkDropListDropped)="drop($event)">
        <ng-container *ngIf="this.project.key">
          <div *ngFor="let item of this.tasksHolder[title]" cdkDrag>
            <app-main-issue projectKey="{{this.project.key}}"
                            [issue]="item"
                            (issueToOpen)="openIssue($event)">
            </app-main-issue>
          </div>
      </ng-container>
    </div>
  </div>
  <app-issue *ngIf="issueToOpen" class="issue-detail" [issue]="issueToOpen"
  (closeIssueEmitter)="issueToOpen = undefined"></app-issue>
</div>