<h1 class="title">Active Sprint</h1>

<b>quick filters :</b> <button mat-button style="display:inline-block;" *ngFor="let filter of filters">{{ filter }}</button>

<div cdkDropListGroup class="main-container">
    <div class="tasks-container" *ngFor="let title of taskTitles">
      <h2>{{title}}</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="this.tasksHolder[title]"
        class="tasks-list"
        (cdkDropListDropped)="drop($event)">
        <div class="task-box" *ngFor="let item of this.tasksHolder[title]" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>