.button {
  background-color: rgb(242, 102, 116);
  border: none;
  outline: none;
  border-radius: 3px;
  color: white;
  font-weight: 500;
  padding: 3px;
  font-size: 15px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
