<div class="settings-page" *ngIf="user.name">
  <div class="top-settings">
    <div>{{user.name}}</div>
    <img class="user-image" src='{{newImage ? newImage : user.image}}'>
    <label class="imageUploader">
      <i class="fas fa-pencil-alt edit-icon"></i>
      <input type="file" accept="image/*" (change)="loadFile($event)">
    </label>
  </div>
  <div class="bottom-settings">
    <form class="edit-form" [formGroup]="userEditForm" (ngSubmit)="submitForm()">
      <div class="username">
        <div>Username</div>
        <input id="name" formControlName="name" class="field" required disabled/>
      </div>
      <div class="email">
        <div>Email</div>
        <input id="email" formControlName="email" class="field" required disabled/>
      </div>
      <div class="password">
        <div>Password</div>
        <input id="password" formControlName="password" class="field" type="password" required />
      </div>
      <div class="formsBtns">
        <button *ngIf="userChanged || newImage" type="submit" class="submitBtn">Save</button>
        <button *ngIf="userChanged || newImage" type="button" class="cancleBtn" (click)="cancleEdit()">Cancle</button>
      </div>
    </form>
    <div class="projects">
      <div>My Projects:</div>
      <div class="projectBtns">
        <button class="projectBtn" *ngFor="let project of projects | async">
          <i class="fas fa-camera-retro" [ngStyle]="{'color': project.color}"></i><span
            class="btnText">{{project.name}}</span></button>
      </div>
    </div>
  </div>
  <button mat-button (click)="logout()" class="logoutBtn">Logout</button>
</div>
