<mat-toolbar class="topnav" fxLayout="row" color="primary">
    <div class="projectorTitle" routerLink='/'>Projector</div>
    <button mat-button class="navbtn" routerLink='/projects'>projects</button>
    <button mat-button class="navbtn" [matMenuTriggerFor]="dropMenu">create</button>
    <mat-menu #dropMenu="matMenu">      
    <button mat-menu-item>
        <mat-icon class="mr">horizontal_split</mat-icon>
        Project
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="createIssue()">
        <mat-icon class="mr">lightbulb</mat-icon>
        Issue
    </button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-button class="navbtn" ><mat-icon mat-list-icon>account_circle</mat-icon></button>
</mat-toolbar>