.topnav {
    height: 25%;
    width: 100%;
    background: rgb(242,102,116);
    padding-left: 16px;
}
  
.projectorTitle:focus, .projectorIcon:focus{
    outline: 0;
}

.navbtn {
    font-size: 14px;
    background-color: rgb(242,102,116);
    border-radius: 2px;
    cursor: pointer;
    color: white;
    
}
.example-spacer {
    flex: 1 1 auto;
}

.projectorTitle {
    color: white;
    cursor: pointer;
}

.projectorIcon {
    cursor: pointer;
}
