.title {
    margin-left: 16px;
}   

.leadview {
    display: flex;
    flex-direction: row;
}
.header {
    height: 52px;
    background-color: #f26674;
    color: white;
    text-align: center;
    width: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    padding: 36px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
}

th {
    color: rgb(242, 102, 116);
}

.bottom {
    display: flex;
    flex-direction: row;
}

.list {
    display: flex;
    padding: 10px;
    font-size: 22px;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
}

.issue-detail {
    background-color: #e6e1e6;
    padding: 10px;
    width: 250px;
    height: 100%;
}